.fundoCadastro{
    background-image: url("https://ik.imagekit.io/pzokrwrjd/cadastro.jpg?updatedAt=1737121467645");
    background-repeat: no-repeat;
    width: 100%;
    min-height:100vh;
    background-size:cover;
    background-position: center;
}